{% extends "template.html" %}

{% block content %}
    <form action="{{ url_for('store') }}" method="post">
        <div class="mb-3">
            <label for="name" class="form-label">Name</label>
            <input type="text" name="name" id="name" class="form-control">
        </div>
        <div class="mb-3">
            <label for="description" class="form-label">Category</label>
            <input type="text" name="description" id="description" class="form-control">
        </div>
        <div class="mb-3">
            <label for="platform" class="form-label">Platform</label>
            <input type="text" name="platform" id="platform" class="form-control">
        </div>
        <div class="mb-3">
            <button type="submit" class="btn btn-outline-success">Save new game</button>
        </div>
    </form>
{% endblock %}