{% extends "template.html" %}

{% block content %}
    {% if session['user_logged'] != None %}
        <p><a class="btn btn-outline-primary" href="{{ url_for('create') }}">Create a game</a></p>
    {% endif %}

    <div>
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Category</th>
                    <th>Platform</th>
                </tr>
            </thead>
            <tbody>
                {% for game in games %}
                <tr>
                    <td>{{ game.name }}</td>
                    <td>{{ game.description }}</td>
                    <td>{{ game.platform }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}