{% extends "template.html" %}

{% block content %}
    <div>
        <form action="{{ url_for('signin') }}" method="post">
            <input type="hidden" name="next" value="{{ next }}">
            <div class="mb-3">
                <label for="username" class="form-label">Username</label>
                <input type="text" name="username" id="username" class="form-control" required>
            </div>
            <div class="mb-3">
                <label for="password" class="form-label">Password</label>
                <input type="password" name="password" id="password" class="form-control" required>
            </div>
            <div class="mb-3">
                <button class="btn btn-outline-success" type="submit">Sign In</button>
            </div>
        </form>
    </div>
{% endblock %}