<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Game Library - {{ title }}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap.css') }}">
</head>
<body>

    <nav class="navbar navbar-expand-lg bg-body-tertiary">
        <div class="container-fluid">
            <a class="navbar-brand" href="{{ url_for('index') }}">Game Library</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false"
                    aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" aria-current="page" href="{{ url_for('login') }}">Login</a>
                    </li>
                    {% if session['user_logged'] != None  %}
                        <li class="nav-item">
                            <a class="nav-link" aria-current="page" href="{{ url_for('logout') }}">Logout</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link disabled">{{ session['user_logged'] }}</a>
                        </li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </nav>

    <div class="container mt-3">

        <h1>{{ title }}</h1>

        {% with messages = get_flashed_messages() %}
            {% if messages %}
                <div class="alert alert-dark" role="alert">
                    {% for message in messages %}
                        <span>{{ message }}</span>
                    {% endfor %}
                </div>
            {% endif %}
        {% endwith %}

        <hr>

        {% block content %}
        {% endblock %}

    </div>
</body>
</html>